[Unit]
Description=Python utility script for continuously logging the results from perf stat and ipmitool sensor for monitoring power consumption

[Service]
WorkingDirectory=/local/repository/ecko/power-consumption-logger/
ExecStart=/usr/bin/env/python3 power-consumption-logger.py

[Install]
WantedBy=multi-user.target
